
<div class="footer" style="display: table; overflow: hidden;">
     <div style="display: table-cell; vertical-align: middle;">
       <div>
         &copy; The Dixie Tavern <%= Date.current.year %>. 
       </div>
     </div>
</div>
