



<!--div class="footer">
  <p>&copy; The Dixie Tavern <%= Date.current.year %>. Site Design: Box of Cats.</p>
</div -->

<div class="footer" style="display: table; overflow: hidden;">
     <div style="display: table-cell; vertical-align: middle;">
       <div>
         &copy; The Dixie Tavern <%= Date.current.year %>. Site Design: Box of Cats.
       </div>
     </div>
</div>
