<div class="container">
 
  <h1>About</h1>

	
	<div class="aboutContainer">
		Great Food - Large Patio - 3 Pool Tables <br />
		20 Beers On Tap - Full Service Bar <br />
		Fast &amp; Friendly Service <br />
		Official Home Of Zac Brown Band. <br />

		<p>Located 1/2 Mile Off I-75 (Exit 260) at the Corner of Cobb Pkwy (41) and Windy Hill Rd.	</p>



	</div>







</div>
