<div class="container">
 
  <h1>About</h1>

	
	<div class="aboutContainer">
		<p>Great Food - Large Patio - 3 Pool Tables </p>
		
		<p>20 Beers On Tap - Full Service Bar </p>
		
		<p>Fast &amp; Friendly Service </p>
		

		<p>Located 1/2 Mile Off I-75 (Exit 260) at the Corner of Cobb Pkwy (41) and Windy Hill Rd.	</p>

		<p>Official home of the Zac Brown Band. </p>

	</div>







</div>
