<div class="container">

  <h1>Food</h1>

  <div class="container">
  
  	<h2>Appetizers</h2>

  	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Wings - Jumbo Chicken Wings
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Prepared Buffalo - Mild, Medium, Hot, EXTRA Hot, Lemon Pepper, Buffalo Lemon Pepper, Teriyaki or BBQ Glaze. Served with celery, carrots, and choice of dressing
  
  		<br />Five Wings $7 Ten Wings $13
  		</span>
  	</div>


 	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Fried Pickles
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Battered and fried pickle chips, served with choice of dressing
  
  		<br />$6
  		</span>
  	</div>


 	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Fried Mushrooms
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Whole mushrooms, beer-battered and fried with choice of dressing
  
  		<br />$7
  		</span>
  	</div>


 	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Buffalo Shrimp
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Gulf Coast Shrimp, battered and fried, tossed in Buffalo sauce. 
  			Served with celery, carrots, and choice of dressing
  
  		<br />$9
  		</span>
  	</div>


 	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Mozzarella Sticks
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Mozzarella Cheese breaded and fried with Marinara sauce
  
  		<br />$8
  		</span>
  	</div>


 	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Loaded Potato Skins
  		<br />
  		</span>
  		<span class="menuItemBody">
  			With bacon &amp; Cheddar Jack cheese served with sour cream and chives
  
  		<br />Half Order $5 Whole Order $9
  		</span>
  	</div>


 	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Fish Tacos
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Catfish Fried in Cornmeal batter,
topped with Fire Roasted Corn &amp; Black BeanSalsa, drizzled with Spicy Chipotle Sauce, in warm Flour Tortillas
  
  		<br />$8
  		</span>
  	</div>


 	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Spinach &amp; Artichoke Dip
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Served with Fresh Tortilla Chips or Tavern Chips
  
  		<br />$8
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chips &amp; Queso
  		<br />
  		</span>
  		<span class="menuItemBody">
  			White Queso Cheese DipServed with Fresh Tortilla Chips
  
  		<br />$6
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Nachos
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Tortilla Chips piled with Cheddar JackCheese, Lettuce, Tomatoes and Jalapenos Served 
with Sour Cream and Salsa
  		<br />$7

  		<br />Add Chicken, Blackened or Grilled $3 
		<br />Add Chili $3  Add Beef $3
		<br />Add Queso $3  Add Black Bean &amp; Corn Salsa $2
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Dixie Sampler
  		<br />
  		</span>
  		<span class="menuItemBody">
  			A Combination of Loaded Potato Skins, Chicken Fingers, Mozzarella Sticks and Fried Pickles
  
  		<br />$14
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Soft Baked Pretzels
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Fresh Baked &amp; Salted. Served with Yellow &amp; Spicy Mustard
  
  		<br />$6
  		<br />Add Queso Cheese Dip $3
  		</span>
  	</div>


<h2>Quesadillas</h2>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chicken Quesadilla
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Grilled Chicken Breast, Peppers, Onions, Cheddar Jack Cheese in a Flour 
Tortilla with Lettuce, Pico and Sour Cream
  
  		<br />$9
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Veggie Quesadilla
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Broccoli, Mushrooms, Peppers, Onions and Cheddar Jack Cheese in a 
Flour Tortilla w/Lettuce, Pico &amp; Sour Cream
  		<br />$9
  		</span>
  	</div>


<h2>Melts</h2>
(Served with Tavern Chips)


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Dixie Steak Melt
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Grilled American Cheese with Sliced Steak &amp; Sautéed Onion
  		<br />$9
  		<br />Add Sautéed Mushrooms $1
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Grilled Ham &amp; Cheese
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Thinly SlicedGrilled Ham with choice of Melted American, Swiss or Provolone Cheese
  		<br />$9
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Classic Grilled Cheese
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Choice of American, Swiss or Provolone Cheese
  		<br />$6
  		<br />Add Tomato $1 Add Bacon $2
  		</span>
  	</div>


<h2>Potatoes, Soups &amp; Salads</h2>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Loaded Baked Potatoes
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Fresh Baked with Bacon, Cheese, Butter &amp; Sour Cream $7
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Chili, Cheddar Jack Cheese &amp; Sour Cream $7
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Broccoli, Cheddar Jack Cheese &amp; Butter $7
  		<br />
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Gumbo
  		<br />
  		</span>
  		<span class="menuItemBody">
  			DT's Famous Creole Gumbo with Chicken, Andouille Sausage, Tasso Ham,
Peppers, Onions &amp; Okra over Rice
  		<br />Small $4
  		<br />Medium $6
  		<br />Large $9
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chili 
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Fresh Made Chili Topped withCheddar Jack Cheese and Onions
   		<br />Small $4
  		<br />Medium $6
  		<br />Large $8
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chicken Caesar Salad 
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Served Blackened,
Grilled or Fried with crisp Romaine LettuceTossed w/ shredded Parmesan Cheese, Creamy 
Caesar dressing &amp; Croutons
  		<br />$9
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			House Chicken Salad 
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Fried, Blackened orGrilled w/ Romaine & Iceberg Lettuce,
Cucumbers, Carrots, Onions &amp; Cheddar Jack..
Cheese with choice of dressing
  		<br />$8
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Wedge Salad
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Wedge of Iceberg LettuceTopped with Bleu Cheese Crumbles, Bacon,
Red Onions &amp; Bleu Cheese dressing
  		<br />$9
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Wedge Salad
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Wedge of Iceberg LettuceTopped with Bleu Cheese Crumbles, Bacon,
Red Onions &amo; Bleu Cheese dressing
  		<br />$9
  		</span>
  	</div>

<span style="font-style: bold;">Dressings: </span> Balsamic Vinaigrette, 1000 Island, Bleu Cheese, Ranch, Honey Mustard, BBQ, Spicy Chipotle or Creamy Horseradish Sauce



<h2>Baskets</h2>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chicken Fingers
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Hand Breaded and Fried. Served Regular or Buffalo
  		<br />$7
  		<br />Add Fries or Tots $2 Add Onion Rings $3
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chili Cheese Fries
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Topped with Chili andCheddar Jack Cheese &amp; Choice of dressing
  		<br />$7
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Bacon Cheese Fries
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Topped w/ Bacon andCheddar Jack Cheese &amp; Choice of dressing
  		<br />$8
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			French Fries or Tater Tots 
  		</span>
  		<span class="menuItemBody">
  			
  		<br />$5
  		</span>
  	</div>


<h2>Sandwiches, Wraps, Burgers &amp; Sliders</h2>

<p>Served with Tavern Chips

<br />Lettuce, Tomato, Onion and Pickle available upon request</p>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			French Dip
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Thinly Sliced Roast Beef with Sautéed Onions Served on fresh French bread 
With a side of Au Jus
  		<br />$9
  		<br />Add Cheese $1 Add Sautéed Mushrooms $1
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Philly Cheese
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Chicken or Steak - Smothered with Provolone or American Cheese, Peppers andOnions on French bread
  		<br />Chicken $8
  		<br />Steak $9
  		<br />Add Sautéed Mushrooms $1
  		<br />Make it a Wrap
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Ham &amp; Cheese Po-Boy
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Thinly Sliced Ham topped with choice of Melted American,
Swiss, Provolone or Cheddar Jack Cheese On French Bread
  		<br />$9
  		<br />Add Bacon $1
  		<br />Make it a Wrap
  		</span>
  	</div>
 

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Shrimp Po-Boy
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Grilled, Blackened, Fried or Buffalo style on fresh French bread
  		<br />$9
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Catfish Po-Boy
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Grilled, Blackened, or Fried on fresh French bread
  		<br />$9
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chicken Po-Boy
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Grilled, Blackened, Fried or Buffalo style on fresh French bread
  		<br />$8
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Dixie Chicken Sandwich
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Grilled Chicken Breast, Bacon, BBQ Sauce and Sautéed Onions topped with Cheddar Jack Cheese On a Toasted Bun
  		<br />$9
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chicken BLT
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Fried Chicken Breast, Bacon, Lettuce and Tomato &amp; Mayo On a Toasted Bun
  		<br />$9
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chicken Caesar Wrap
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Blackened Chicken, wrapped with Romaine Lettuce, Shredded Parmesan 
Cheese and Creamy Caesar dressing
  		<br />$9
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Buffalo Chicken Wrap
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Fried Buffalo Chicken Breast, w/Lettuce, Pico &amp; Cheddar Jack Cheese
  		<br />$9
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Catfish Burrito
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Fried Catfish, w/Pico, Cheddar Jack Cheese &amp; Sour Cream in a Flour Tortilla
  		<br />$9
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Dixie Sliders
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Choice of Three Per Order: Fried Chicken Tenders &amp; Cheese, Ham and Cheese,
Cheeseburger or Andouille Sausage &amp; Cheese Served with a side of Cajun Mayo
  		<br />$9
  		</span>
  	</div>

<p>Burgers are Fresh Ground Beef and Flame Broiled to Order
<br />Served on a Toasted Egg Bun </p>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			*Dixie Burger
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Bacon, BBQ Sauce and Sautéed Onions topped with Cheddar Jack Cheese
  		<br />$10
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			*Breakfast Burger
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Topped with a Fried Egg, American Cheese and Bacon
  		<br />$11
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			*Chili Cheeseburger
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Covered with Chili and Cheddar Jack Cheese
  		<br />$10
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			*Mushroom Swiss Burger
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Topped with Sautéed Mushrooms and melted Swiss Cheese
  		<br />$10
  		</span>
  	</div>


	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			*Black &amp; Bleu Burger
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Blackened and topped w/ melted Bleu Cheese
  		<br />$10
  		<br />Add Bacon $1
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			*Double Bacon Cheeseburger
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Double Burger, Double Bacon with Choice of Cheese
  		<br />$14
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			*Buffalo Burger
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Covered in Wing Sauce &amp; Topped w/ Melted Bleu Cheese
  		<br />$10
  		<br />Add Bacon $1
  		</span>
  	</div>

<p>Sub: Fries, Tots or Veggies $1 Chili, Gumbo, Onion Rings, House or Caesar Salad $2</p>

<p>*Health Code Advisory* Burgers cooked to order. Consuming raw or undercooked meats, poultry, seafood, shellfish or eggs may increase your risk of food-borne illness</p>


<h2>Entrees</h2>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Dixie Chicken Pasta
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Seasoned Chicken Breast, Sautéed with Broccoli, Peppers &amp; Onions in a 
Choice of Alfredo Cream Sauce or Olive Oil & Garlic Sauce
  		<br />$12
  		<br />Half Order $7
  		<br />Sub Shrimp $3 Add Sausage $3 Add Shrimp $5
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chicken Stir-Fry 
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Stir-Fried Chicken Breast, a medley of fresh seasoned Veggies with a touch of 
Soy sauce, served over a bed of rice
  		<br />$10
  		<br />Half Order $6
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Fish-N-Chips 
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Battered and Fried served with Cocktail or Tartar Sauce &amp; French Fries
  		<br />$10
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Shrimp-N-Chips 
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Battered and Fried served with Cocktail or Tartar Sauce &amp; French Fries
  		<br />$11
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Jambalaya
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Andouille Sausage, Chicken, Bell peppers, Onions, Celery, Tomatoes and Garlic served 
over rice in our Famous Jambalaya sauce
  		<br />$10
  		<br />Half Order $6
  		</span>
  	</div>

	<div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Chicken and Veggies
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Grilled Boneless Chicken Breast Served with a medley of fresh seasoned 
Vegetables over a bed of Rice
  		<br />$9
  		<br />Add Extra Chicken Breast $4 
  		</span>
  	</div>




  </div>	

</div>
