<div class="container">

  <h1>Food</h1>

  <div class="container">
  


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Nachos
      <br />
      </span>
      <span class="menuItemBody">
        Tortilla Chips piled with Cheese, Lettuce, Tomatoes and Jalapenos Served with Sour Cream
      <br />$9
      <br />Add Chicken or Ground Beef $3 
      </span>
    </div>



    <div class="menuItemContainer">
      <span class="menuItemTitle">
        Soft Baked Pretzels
      <br />
      </span>
      <span class="menuItemBody">
        Fresh Baked &amp; Salted. Served with Spicy Mustard
  
      <br />$6
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        Southwestern Egg Rolls
      <br />
      </span>
      <span class="menuItemBody">
        Served w/Spicy Chipotle
  
      <br />$9
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        Mozzarella Sticks
      <br />
      </span>
      <span class="menuItemBody">
        Mozzarella Cheese breaded and fried with Marinara sauce
        <br />$8
      </span>
    </div>

    <div class="menuItemContainer">
      <span class="menuItemTitle">
        Spinach &amp; Artichoke Dip
      <br />
      </span>
      <span class="menuItemBody">
        Served with Fresh Tortilla Chips
  
      <br />$8
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Wings 
      <br />
      </span>
      <span class="menuItemBody">
        Mild, Medium, Hot, Lemon Pepper, Buffalo Lemon Pepper, Teriyaki or BBQ
      <br />Five Wings $8 Ten Wings $14
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Buffalo Shrimp
      <br />
      </span>
      <span class="menuItemBody"> 
        Served with celery, carrots, and choice of dressing
  
      <br />$9
      </span>
    </div>


 	  <div class="menuItemContainer">
  		<span class="menuItemTitle">
  			Fried Pickles
  		<br />
  		</span>
  		<span class="menuItemBody">
  			Fried pickle chips, served with choice of dressing
  
  		<br />$6
  		</span>
  	</div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        Bacon Cheese Fries or Tots
      <br />
      </span>
      <span class="menuItemBody">
        Topped w/ Bacon and Cheddar Jack Cheese, and choice of dressing 
      <br />$8 
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        Potato Skins
      <br />
      </span>
      <span class="menuItemBody">
        Loaded with bacon &amp; Cheddar Jack cheese
  
      <br />Half Order $6 Whole Order $10
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Quesadillas
      <br />
      </span>
      <span class="menuItemBody">
        Peppers, Onions &amp; Cheddar Jack Cheese served with Lettuce, Salsa and Sour Cream
  
      <br />Griiled Chicken $10 Grilled Shrimp $12
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Cheeseburger
      <br />
      </span>
      <span class="menuItemBody">
        Fresh Ground Beef Served On A Toasted Bun, Choice of Cheese, with Fries or Tots  
      <br />$11
      <br />Add Bacon $2
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Chicken Fingers
      <br />
      </span>
      <span class="menuItemBody">
        Buttermilk Battered & Fried,  Served  w/Fries or Tots
      <br />$10
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        Hot Ham & Cheese 
      <br />
      </span>
      <span class="menuItemBody">
        Boars Head Ham, with Swiss or American Cheese, On A Toasted Bun,  w/Tavern Chips
      <br />$10
      </span>
    </div>



    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Dixie Steak Melt
      <br />
      </span>
      <span class="menuItemBody">
        Grilled Cheese with Sliced Steak &amp; Sautéed Onions. Served w/Tavern Chips 
      <br />$10
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        Grilled Cheese 
      <br />
      </span>
      <span class="menuItemBody">
        American or Swiss Cheese Served w/Tavern Chips  
      <br />$6
      <br />Add Bacon $2
      <br />Add Ham $3
      <br />Add Tomato $1
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Chicken Sandwich
      <br />
      </span>
      <span class="menuItemBody">
        Buttermilk Battered & Fried, On a Toasted Bun, w/Fries or Tots  
      <br />$10
      <br />Add Cheese $1
      </span>
    </div>


    <div class="menuItemContainer">
      <span class="menuItemTitle">
        *Chicken Finger Wrap 
      <br />
      </span>
      <span class="menuItemBody">
        Chicken Tenders, American Cheese, Wrapped In A Tortilla, w/Lettuce, Tomato & Mayo, Served w/ Fries or Tots 
      <br />$10
      <br />Add Bacon $2
      </span>
    </div>


<p>*Health Code Advisory* Burgers cooked to order. Consuming raw or undercooked meats, poultry, seafood, shellfish or eggs may increase your risk of food-borne illness</p>







  </div>	

</div>
