
body {
  background-color: #070909;
  color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.025em;
	line-height: 1.75em;
}

.banner {
  background: linear-gradient(
                       rgba(20,20,20, .5),
                       rgba(20,20,20, .5)),
                       url(banner2.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  text-align: center;
  width: 100%;
  height: 600px;
  padding-top: 122px;
  border: solid 1px #444;
}

.bannerText {
  text-shadow: 0px 0px 4px #000000;
  font-weight: 600;
  letter-spacing: 0.08em;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  width: 100%;
  height: 44px;
  background-color: #333;
  border: solid 1px #444;
  color: #cccccc;
  font-size: 12px;
  text-align: center;
}
//------------------------------------------------------------------------------
// THREE SHOWS ON FRONT PAGE
//------------------------------------------------------------------------------

.stretch_it{
    white-space: nowrap;
}

.justify{
    text-align:justify;
}

.one{font-size:10px;}
.two{font-size:20px;}
.three{font-size:30px;}
.four{font-size:40px;}

.eventContainer {
  //visibility: hidden;
}

.bandTitle {
  width: 240px;
  background: black;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  position: relative;
  left: 28px;

}

.weekDay {
  width: 240px;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  position: relative;
  left: 28px;

}

.monthDay {
  width: 240px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  left: 28px;


}


.bandPhoto {
  text-align: center;

}

.bandCover {
  text-align: center;
  font-size: 16px;

}

//------------------------------------------------------------------------------
// DIRECTIONS AND CONTACT INFO
//------------------------------------------------------------------------------

.contactInfo {
  color: #bbb;
  font-size: 20px;
  text-shadow: 2px 2px 3px #333;
  padding-bottom: 12px;


}

.map {
  height: 300px;
  width: 100%;
  border: 1px solid #222;

}

.social {
  padding-top: 10px;

}

//------------------------------------------------------------------------------
// TABLES AND FORMS
//------------------------------------------------------------------------------


table {
  background-color: #888;
  color: black;
  font-size: 16px;

}

th {
  background-color: #444;
  font-size: 16px;
  font-weight: bold;
  color: #eee;

}

input, textarea {
  width : 350px;
  margin: 0;
  color: black;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

select, button {
  color: black

}

label {
  width: 30px;

}
